html,body {
  background-color: blueviolet;
  margin: 0;
}

.time-display {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  position: absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, -50%);

  z-index: 15;

}

.time-display>div {
  font-family: 'Varela Round', sans-serif;
  font-size: 8rem;
  color:#2BD872;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3F1046;
  font-size: 1rem;
}
form input[type='text'] {
  height: 1.5rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #3F1046;
  border-radius: 5px;
}
form input[type='submit'] {
  height: 1.8rem;
  margin: 1rem;
  border: 2px solid green;
  background-color: #2BD872;
  border-radius: 5px;
}
.img-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.big-image {
  position: absolute;
  width: 100vw;
  overflow-y: hidden;
  object-fit: none;
  object-position: center;
}

.cover-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cover-container > div{
  display: flex;
  flex-grow: 1;

}
.cover-cell {
  background-color: #3F1046;
  margin: 0;
  text-align: "center";
  flex-grow: 15;
}

.opaque-tile {
  opacity: 0
}
.transparent-tile {
  opacity: 100;
  transition-timing-function: linear;
  transition: opacity 1s;
}

